#footer {
  display: flex;
  justify-content: space-between;
}

#amount-info, #restore-deleted {
  text-align: left;
  margin: 0px 0px 0px 10px;
}

#clear-all-button {
  background-color: var(--dark-green);
  width: 115px;
}

#restore-deleted {
  cursor: pointer;
  color: brown;
}
