#add-todo {
  display: flex;
}

#new-todo-textbox {
  padding: 5px 10px;
  font-size: 20px;
  width: 415px;
}

#new-todo-textbox:focus {
  border: 2px solid var(--very-dark-green);
  border-radius: 4px;
  outline: none;
}

#add-todo-button {
  background-color: var(--dark-green);
  height: 45px;
  width: 45px;
  font-size: 30px;
}
